
h1{
  position: static;
  text-align: center;
  font-size: 4vw;
}
#brush{
  position: fixed;
  margin-left:34%;
  position: absolute;
  margin-left:480px;
  animation-name: example;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

#home{
  background-color: #ffffcc;
  background-image:url("home_background.png");
  background-repeat: repeat-x;
}
@keyframes example {
  0%   {left:0%; top:6%;}
  25%  {left:29%; top:6%;}
  50%  {left:29%; top:1%;}
  75%  {left:29%; top:6%;}
  100%  {left:0%; top:7%;}
  }
/*header1*/
li{display:inline;}
li span{color: red;}
li span2{color: #ff33cc;}
li span3{color: orange;}
li span4{color: yellow;}
li span5{color: #00ff00;}
li span6{color: blue;}
li span7{color: purple;}
li span8{color: red;}
li span9{color: #ff33cc;}
li{
  border-bottom: 2px solid red;
}

/*Each span correlates to a letter in Smart4Art
span = S
span1 = m
.
.
.
span10 = t*/
span {
  color: red;
  bottom: 720px;
  margin-left: -10.5%;
  position:absolute;

}
span2 {
  color: #ff33cc;
  bottom: 720px;
  margin-left: -8.5%;
  position:absolute;
}
span3 {
  color: orange;
  bottom: 720px;
  margin-left: -5.3%;
  position:absolute;
}
span4 {
  color: yellow;
  bottom: 720px;
  margin-left: -3%;
  position:absolute;
}
span5 {
  color: #00ff00;
  bottom: 720px;
  margin-left: -.7%;
  position:absolute;
}
span6 {
  color:black;
  bottom: 720px;
  margin-left: 1.4%;
  position:absolute;
}
span7 {
  color: blue;
  bottom: 720px;
  margin-left: 3.4%;
  position:absolute;
}
span8 {
  color: purple;
  bottom: 720px;
  margin-left: 5.7%;
  position:absolute;
}
span9 {
  color: red;
  bottom: 720px;
  margin-left: 8%;
  position:absolute;
}
span10 {
  color: #ff33cc;
  bottom: 720px;
  margin-left: 10%;
  position:absolute;
}


.Underline{
  margin-left: 40.5%;
  margin-bottom: 3%;
  width : 300px;
  border-bottom: 2px solid red;
}

/*webpage border*/
#top, #bottom, #left, #right {
  background:
  linear-gradient(135deg, #ffffcc 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #ffffcc 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #ffffcc 25%, transparent 25%),
  linear-gradient(45deg, #ffffcc 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #0080ff;
	position: fixed;
}
#left, #right {
		top: 0; bottom: 0;
		width: 40px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
		left: 0; right: 0;
		height: 25px;
		}
#top { top: 0; }
#bottom { bottom: 0; }
/*template images*/
#snowMan{
  position:absolute;
  margin-top: 5%;
  border: 5px solid black;
  margin-left: 15%;
}
#theHouse{
  position:absolute;
  margin-top: 5%;
  border: 5px solid black;
  margin-left: 62%;
}

/*dropdown 1*/
.dropbtn {
    position: absolute;
    background-color: #66ffff;
    color: black;
    text-align: center;
    padding: 5px;
    width: 8vw;
    font-size: 1vw;
    font-family: 'Luckiest Guy', cursive;
    border: solid #000099;
    cursor: pointer;
    margin-left:275%;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #00cccc;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-family: 'Luckiest Guy';
    width: 9vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 269%;

}
.dropdown-content a {
    color: black;
    background-color: #e6b3ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ffccff;
}
.show {
  display: block;
}

/*dropdown 2*/
.dropbtn2 {
  position: relative;
  background-color: #66ffff;
  color: black;
  text-align: center;
  padding: 5px;
  width: 8vw;
  font-size: 1vw;
  font-family: 'Luckiest Guy', cursive;
  border: solid #000099;
  cursor: pointer;
  margin-left: 750%;
}
.dropbtn2:hover, .dropbtn2:focus {
    background-color: #00cccc;
}
.dropdown2 {
    position: relative;
    display: inline-block;

}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-family: 'Luckiest Guy';
    min-width: 9vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 744%;
}
.dropdown-content2 a {
    color: black;
    background-color: #e6b3ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 a:hover {
    background-color: #ffccff;
}
.show2 {display: block;}

.subtitles {
  position:relative;
  font-size: 2vw;
  font-family: 'Luckiest Guy', cursive;
  margin-top: 4%;
  width: 550px;
}

ul{
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 4px 4px 4px #999999;
}

#snowMan:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}
#theHouse:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}
.dropdown > button{
    position:relative;
    z-index:2;
}

/*Creates an invisible border around the title*/
.HoldsPage {
  width: 500px;
  height: 18px;
  margin-left: 32%;
  margin-top: 4%;
}
