
/*House Template*/
.Border{
  width: 400px;
  height: 800px;
  position:absolute;
  margin-left: 37%;
}

#Foundation {
  width: 400px;
  height: 375px;
  border: solid;
  background: #d9d9d9;
  position: absolute;
  margin-left: 0%;
  margin-top: 35%;
  font-size: 15px;
}

#Roof {
	width: 0;
	height: 0;
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 250px solid #d9d9d9;
  position: absolute;
  margin-left: -12.5%;
  margin-top: -18%;
  line-height: 475px;
  font-size: 15px;
}

#RoofOutline {
	width: 0;
	height: 0;
	border-left: 260px solid transparent;
	border-right: 260px solid transparent;
	border-bottom: 260px solid black;
  position: absolute;
  margin-left: -15%;
  margin-top: -19.5%;
}

div .rotateText {
  -webkit-transform: rotate(-90deg);
  padding-right: 14px;
}

#Chimney {
	border-bottom: 60px solid #d9d9d9;
	border-left: 0px solid transparent;
	border-right: 60px solid transparent;
	height: 0;
	width: 90px;
  transform: rotate(-270deg);
  margin-left: -5%;
  margin-top: -2%;
  position: absolute;
  font-size: 15px;
}

#ChimneyOutline {
	border-bottom: 65px solid black;
	border-left: 0px solid transparent;
	border-right: 65px solid transparent;
	height: 0;
	width: 95.5px;
  transform: rotate(-270deg);
  margin-left: -6.5%;
  margin-top: -2.5%;
  position: absolute;
}

#Door {
  width: 100px;
  height: 200px;
  border: solid;
  background: #d9d9d9;
  position: absolute;
  margin-left: 37%;
  margin-top: 79%;
  line-height: 350px;
  font-size: 15px;
}

#DoorKnob {
  width: 25px;
  height: 25px;
  border: solid;
  background: #d9d9d9;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 300px;
  margin-left: 54%;
  margin-top: 104%;
  position: absolute;
  line-height: 25px;
  font-size: 15px;
}

#TreeTop {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid #d9d9d9;
  position: absolute;
  margin-left: 80%;
  margin-top: 39%;
  line-height: 260px;
  font-size: 15px;
}

#TreeMiddle {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid #d9d9d9;
  position: absolute;
  margin-left: 80%;
  margin-top: 59%;
  line-height: 260px;
  font-size: 15px;
}

#TreeBottom {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid #d9d9d9;
  position: absolute;
  margin-left: 80%;
  margin-top: 79%;
  line-height: 260px;
  font-size: 15px;
}

div .dontWrap {
  width: 22px;
}

#TreeTopOutline {
	width: 0;
	height: 0;
	border-left: 106px solid transparent;
	border-right: 106px solid transparent;
	border-bottom: 156px solid black;
  position: absolute;
  margin-left: 78.5%;
  margin-top: 38.2%;
}

#TreeMiddleOutline {
	width: 0;
	height: 0;
	border-left: 106px solid transparent;
	border-right: 106px solid transparent;
	border-bottom: 156px solid black;
  position: absolute;
  margin-left: 78.5%;
  margin-top: 58.2%;
}

#TreeBottomOutline {
	width: 0;
	height: 0;
	border-left: 106px solid transparent;
	border-right: 106px solid transparent;
	border-bottom: 156px solid black;
  position: absolute;
  margin-left: 78.5%;
  margin-top: 78.3%;
}

#TreeStump {
  width: 30px;
  height: 100px;
  border: solid;
  background: #d9d9d9;
  position: absolute;
  margin-left: 100%;
  margin-top: 104%;
  line-height: 175px;
  font-size: 15px;
}

#Window {
  width: 140px;
  height: 150px;
  border: solid;
  background: #d9d9d9;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 300px;
  margin-left: 30%;
  margin-top: 0%;
  text-align: left;
  position: absolute;
  line-height: 120px;
  padding-left: 10px;
  font-size: 15px;
}

#WindowCrossVer {
  background: #d9d9d9;
  border: solid;
  height: 100px;
  position: absolute;
  width: 10px;
  margin-left: 47.5%;
  margin-top: 0%;
  padding-top: 50px;
  line-height: 20px;
  font-size: 15px;
}

#WindowCrossHor {
  background: #d9d9d9;
  border: solid;
  height: 10px;
  position: absolute;
  width: 150px;
  margin-left: 30%;
  margin-top: 18%;
  text-align: right;
  line-height: 11px;
  font-size: 14px;
}
/*webpage border*/
#top, #bottom, #left, #right {
  background:
  linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
  linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #0080ff;
	position: fixed;
}
#left, #right {
		top: 0; bottom: 0;
		width: 40px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
		left: 0; right: 0;
		height: 25px;
		}
#top { top: 0; }
#bottom { bottom: 0; }
/*header1*/
h1{
  position: static;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
}
#brush{
  position: absolute;
  margin-left:500px;
}

#home{
  background-image:url("home_background.png");
  background-repeat: repeat-x;
}
/*header1*/
li{display:inline;}
li span{color: red;}
li span2{color: #ff33cc;}
li span3{color: orange;}
li span4{color: yellow;}
li span5{color: #00ff00;}
li span6{color: blue;}
li span7{color: purple;}
li span8{color: red;}
li span9{color: #ff33cc;}
li{
  border-bottom: 2px solid red;
}
ul{
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 4px 4px 4px #999999;
}
.centertext {
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  margin-left: 33%;
  width: 550px;
}
