
/*House Template*/
.Border{
  width: 400px;
  height: 800px;
  position:absolute;
  margin-left: 37%;
}

#Foundation {
  width: 400px;
  height: 375px;
  border: solid;
  background: #d9d9d9;
  position: absolute;
  margin-left: 0%;
  margin-top: 35%;
}

#Roof {
	width: 0;
	height: 0;
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 250px solid #d9d9d9;
  position: absolute;
  margin-left: -12.5%;
  margin-top: -18%;
}

#RoofOutline {
	width: 0;
	height: 0;
	border-left: 260px solid transparent;
	border-right: 260px solid transparent;
	border-bottom: 260px solid black;
  position: absolute;
  margin-left: -15%;
  margin-top: -19.5%;
}

#Chimney {
	border-bottom: 60px solid #d9d9d9;
	border-left: 0px solid transparent;
	border-right: 60px solid transparent;
	height: 0;
	width: 90px;
  transform: rotate(-270deg);
  margin-left: -5%;
  margin-top: -2%;
  position: absolute;
}

#ChimneyOutline {
	border-bottom: 65px solid black;
	border-left: 0px solid transparent;
	border-right: 65px solid transparent;
	height: 0;
	width: 95.5px;
  transform: rotate(-270deg);
  margin-left: -6.5%;
  margin-top: -2.5%;
  position: absolute;
}

#Door {
  width: 100px;
  height: 200px;
  border: solid;
  background: #d9d9d9;
  position: absolute;
  margin-left: 37%;
  margin-top: 79%;
}

#DoorKnob {
  width: 25px;
  height: 25px;
  border: solid;
  background: #d9d9d9;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 300px;
  margin-left: 54%;
  margin-top: 104%;
  position: absolute;
}

#TreeTop {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid #d9d9d9;
  position: absolute;
  margin-left: 80%;
  margin-top: 39%;
}

#TreeMiddle {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid #d9d9d9;
  position: absolute;
  margin-left: 80%;
  margin-top: 59%;
}

#TreeBottom {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid #d9d9d9;
  position: absolute;
  margin-left: 80%;
  margin-top: 79%;
}

#TreeTopOutline {
	width: 0;
	height: 0;
	border-left: 106px solid transparent;
	border-right: 106px solid transparent;
	border-bottom: 156px solid black;
  position: absolute;
  margin-left: 78.5%;
  margin-top: 38.2%;
}

#TreeMiddleOutline {
	width: 0;
	height: 0;
	border-left: 106px solid transparent;
	border-right: 106px solid transparent;
	border-bottom: 156px solid black;
  position: absolute;
  margin-left: 78.5%;
  margin-top: 58.2%;
}

#TreeBottomOutline {
	width: 0;
	height: 0;
	border-left: 106px solid transparent;
	border-right: 106px solid transparent;
	border-bottom: 156px solid black;
  position: absolute;
  margin-left: 78.5%;
  margin-top: 78.3%;
}

#TreeStump {
  width: 30px;
  height: 100px;
  border: solid;
  background: #d9d9d9;
  position: absolute;
  margin-left: 100%;
  margin-top: 104%;
}

#Window {
  width: 150px;
  height: 150px;
  border: solid;
  background: #d9d9d9;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 300px;
  margin-left: 30%;
  margin-top: 0%;
  position: absolute;
}

#WindowCrossVer {
  background: #d9d9d9;
  border: solid;
  height: 150px;
  position: absolute;
  width: 10px;
  margin-left: 47.5%;
  margin-top: 0%;
}

#WindowCrossHor {
  background: #d9d9d9;
  border: solid;
  height: 10px;
  position: absolute;
  width: 150px;
  margin-left: 30%;
  margin-top: 18%;
}
/*webpage border*/
#top, #bottom, #left, #right {
  background:
  linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
  linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #0080ff;
	position: fixed;
}
#left, #right {
		top: 0; bottom: 0;
		width: 40px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
		left: 0; right: 0;
		height: 25px;
		}
#top { top: 0; }
#bottom { bottom: 0; }
