/* Setting up the color palettes */

/* background */
.paletteRectangle {
  position: fixed;
    top: 200;
    left: 0;
  width: 200px;
	height: 320px;
	background: #e6e6e6;
}

/* The different palette circles */

/* red */
#redCircle {
  position: fixed;
    top: 250px;
    left: 25px;
  /**/
  width: 50px;
	height: 50px;
	background: red;
  /**/
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  /**/
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  /**/
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

/* yellow */
#yellowCircle {
  position: fixed;
    top: 320px;
    left: 25px;
  /**/
  width: 50px;
	height: 50px;
	background: yellow;
  /**/
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  /**/
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  /**/
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

/* blue */
#blueCircle {
  position: fixed;
    top: 390px;
    left: 25px;
  /**/
  width: 50px;
	height: 50px;
	background: blue;
  /**/
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  /**/
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  /**/
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 50px;
}

/* black */
#blackCircle {
  position: fixed;
    top: 460px;
    left: 25px;
  /**/
  width: 50px;
	height: 50px;
	background: black;
  /**/
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  /**/
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  /**/
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 50px;
}

/* orange */
#orangeCircle {
  position: fixed;
    top: 250px;
    left: 110px;
  /**/
  width: 50px;
	height: 50px;
	background: orange;
  /**/
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  /**/
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  /**/
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

/* green */
#greenCircle {
  position: fixed;
    top: 320px;
    left: 110px;
  /**/
  width: 50px;
	height: 50px;
	background: green;
  /**/
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  /**/
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  /**/
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 50px;
}

/* purple */
#purpleCircle {
  position: fixed;
    top: 390px;
    left: 110px;
  /**/
  width: 50px;
	height: 50px;
	background: purple;
  /**/
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  /**/
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  /**/
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 50px;
}

/* white */
#whiteCircle {
  position: fixed;
    top: 460px;
    left: 110px;
  /**/
  width: 50px;
	height: 50px;
	background: white;
  /**/
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  /**/
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  /**/
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

div.palette {
  width: 210px;
  height: 320px;
  float: left;
}
<<<<<<< HEAD
/*webpage border*/
#top, #bottom, #left, #right {
  background:
  linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
  linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #0080ff;
	position: fixed;
}
#left, #right {
		top: 0; bottom: 0;
		width: 40px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
		left: 0; right: 0;
		height: 25px;
		}
#top { top: 0; }
#bottom { bottom: 0; }
/*webpage background*/
#home{
  background-image:url("home_background.png");
  background-repeat: repeat-x;;
}
/*header1*/
li{display:inline;}
li span{color: red;}
li span2{color: #ff33cc;}
li span3{color: blue;}
li span4{color: orange;}
li span5{color: yellow;}
li span6{color: blue;}
li span7{color: #ff33cc;}
li span8{color: #00ff00;}
li{
  border-bottom: 2px solid red;
}
h1{
  position: static;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  margin-top: 40px;
}
#brush{
  position: absolute;
  margin-left:500px;
=======

.glowingCircle:hover {
  width: 300px;
  height: 100px;
  background-color: yellow;
  box-shadow: 0px 0px 60px black;
>>>>>>> 7ece3cedac427b4aa8e6880d08f3dd2cfac34b83
}
