/*Formats the equations onto the snowman*/
#HatTopEqu {
  position: absolute;
  margin-left: 46%;
  margin-top: -11%;
}

#HatMiddleEqu {
  position: absolute;
  margin-left: 46.5%;
  margin-top: -1%;
}

#HatBottomEqu {
  position: absolute;
  margin-left: 46%;
  margin-top: 6%;
}

#circleTopEqu {
  position: absolute;
  margin-left: 46%;
  margin-top: 34%;
}

#circleMiddleEqu {
  position: absolute;
  margin-left: 46%;
  margin-top: 76%;
}

#circleBottomEqu {
  position: absolute;
  margin-left: 46%;
  margin-top: 132%;
}

#ButtonTopEqu {
  position: absolute;
  margin-left: 46.5%;
  margin-top: 44%;
  font-size: 10px;
}

#ButtonMiddleEqu {
  position: absolute;
  margin-left: 47%;
  margin-top: 56%;
  font-size: 10px;
}

#ButtonBottomEqu {
  position: absolute;
  margin-left: 47%;
  margin-top: 68%;
  font-size: 10px;
}

#NoseEqu {
  position: absolute;
  margin-left: 41%;
  margin-top: 22.5%;
}

#RightArmEqu {
  position: absolute;
  margin-left: 10%;
  margin-top: 48.3%;
}

#LeftArmEqu {
  position: absolute;
  margin-left: 85%;
  margin-top: 48.3%;
}
