/*Snowman Template*/
.Border{
  width: 400px;
  height: 800px;
  position:absolute;
  margin-left: 37%;
}

#circleBottom {
  width: 310px;
	height: 310px;
  border: solid;
	background: #d9d9d9;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 300px;
  margin-left: 10%;
  margin-top: 60%;
  position: absolute;
  line-height: 500px;
  font-size: 15px;
}

#circleMiddle {
  width: 210px;
	height: 210px;
  border: solid;
	background: #d9d9d9;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 300px;
  margin-left: 22%;
  margin-top: 28%;
  position: absolute;
  line-height: 400px;
  font-size: 15px;
}

#circleTop {
  width: 150px;
	height: 150px;
  border: solid;
	background: #d9d9d9;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 300px;
  margin-left: 30%;
  margin-top: 2%;
  position: absolute;
  line-height: 250px;
  font-size: 15px;
}

#EyesLeft {
  width: 10px;
  height: 10px;
  border: solid;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 300px;
  margin-left: 38%;
  margin-top: 16%;
  position: absolute;
}

#EyesRight {
  width: 10px;
  height: 10px;
  border: solid;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 300px;
  margin-left: 55%;
  margin-top: 16%;
  position: absolute;
}

#Nose {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 100px solid #d9d9d9;
	border-right: 20px solid transparent;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  margin-left: 30%;
  margin-top: 10.5%;
  line-height: 130px;
  font-size: 15px;
}

div .rotateText {
  -webkit-transform: rotate(90deg);
  padding-bottom: 14px;
}

#NoseOutline {
	width: 0;
	height: 0;
	border-top: 24px solid transparent;
	border-bottom: 115px solid black;
	border-right: 24px solid transparent;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  margin-left: 28%;
  margin-top: 8%;
}


#HatBottom {
	width: 40%;
	height: 2%;
  border: solid;
	background: #d9d9d9;
  position: absolute;
  margin-left: 28.5%;
  margin-top: 6.5%;
  line-height: 20px;
  font-size: 15px;
}

#HatMiddle {
	width: 32%;
	height: 4%;
  border: solid;
	background: #d9d9d9;
  position: absolute;
  margin-left: 33%;
  margin-top: -2%;
  line-height: 40px;
  font-size: 15px;
}

#HatTop {
	width: 32%;
	height: 9%;
  border: solid;
	background: #d9d9d9;
  position: absolute;
  margin-left: 33%;
  margin-top: -19%;
  border-radius: 10px;
  line-height: 100px;
  font-size: 15px;
}

#ButtonTop {
  width: 30px;
  height: 30px;
  border: solid;
  background: #d9d9d9;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 300px;
  margin-left: 44%;
  margin-top: 42%;
  position: absolute;
  line-height: 30px;
  font-size: 12px;
}

#ButtonMiddle {
  width: 30px;
  height: 30px;
  border: solid;
  background: #d9d9d9;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 300px;
  margin-left: 44%;
  margin-top: 54%;
  position: absolute;
  line-height: 30px;
  font-size: 12px;
}

#ButtonBottom {
  width: 30px;
  height: 30px;
  border: solid;
  background: #d9d9d9;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 300px;
  margin-left: 44%;
  margin-top: 66%;
  position: absolute;
  line-height: 30px;
  font-size: 12px;
}


#LeftArm {
  width: 200px;
	height: 15px;
  border: solid;
	background: #d9d9d9;
  position: absolute;
  margin-left: 0%;
  margin-top:55%;
  text-align: left;
  line-height: 17px;
  font-size: 15px;
  padding-left: 10px;
}

#RightArm {
  width: 200px;
	height: 15px;
  border: solid;
	background: #d9d9d9;
  position: absolute;
  margin-left: 50%;
  margin-top:55%;
  text-align: right;
  line-height: 17px;
  font-size: 15px;
  padding-right: 10px;
}

/*
div.snowman {
  width: 700px;
  height: 1000px;
  border: solid 1px;
  float: left;
}*/
/*webpage border*/
#top, #bottom, #left, #right {
  background:
  linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
  linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #0080ff;
	position: fixed;
}
#left, #right {
		top: 0; bottom: 0;
		width: 40px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
		left: 0; right: 0;
		height: 25px;
		}
#top { top: 0; }
#bottom { bottom: 0; }
/*webpage background*/
#home{
  background-image:url("home_background.png");
  background-repeat: repeat-x;;
}
/*header1*/
li{display:inline;}
li span{color: red;}
li span2{color: #ff33cc;}
li span3{color: blue;}
li span4{color: orange;}
li span5{color: yellow;}
li span6{color: blue;}
li span7{color: #ff33cc;}
li span8{color: #00ff00;}
li{
  border-bottom: 2px solid red;
}
#brush{
  position: absolute;
  margin-left:500px;
}
ul{
  font-family: 'Luckiest Guy';
}
.subtitles {
  font-size: 22px;
  font-family: 'Luckiest Guy', cursive;
  width: 550px;
}

.textBorder {
  margin-top: -35px;
}
