
a:link, a:visited, a:hover, a:active {
  text-decoration: none !important;
  color: black;
  border-bottom: none;
}

.toolsRectangle{
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  /**/
  position: fixed;
    top: 220;
    right: 40;
  /**/
  width: 200px;
  height: 320px;
  background: #e6e6e6;
  /**/
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  text-align: center;
  line-height: 52px;
}

.toolsBorderRectangle{
  position: fixed;
  top: 220;
  right: 40;
  /**/
  width: 20px;
  height: 320px;
  background: #e6e6e6;
}

p {
  padding-top: 5px;
}

div.toolsRectangle {
  width: 200px;
  height: 320px;
  float: right;
}

#print-button {
	display: none;
}

.glowingText:hover {
  text-shadow: 0 0 50px red, 0 0 50px blue;
}
