
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
  <link rel="stylesheet" href="../static/palette.css">
  <link rel="stylesheet" href="../static/tools-tab.css">
  <link rel="stylesheet" href="../static/SnowmanTemplate.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="../static/palette.js"></script>
  <script src="../static/savePictures.js"></script>

  <title>Freestyle4Snowman</title>

</head>

</head>
<!-- webpage header -->
<div id="brush">
  <img src="../static/paintbrush.png" alt="paintbrush" style="width:80px;height:80px;">
</div>
<h1>
  <ul>
    <li><span>S</span></li
    ><li><span2>m<span2></li
    ><li><span3>a<span3></li
    ><li><span4>r<span4></li
    ><li><span5>t<span5></li
    ><li>4</li
    ><li><span6>A<span6></li
    ><li><span7>r<span7></li
    ><li><span8>t<span8>!</li>
  </ul>
</h1>

<center><p class="subtitles">Welcome to FreeStyle mode!<br>
  Color Frosty however you want!</p></center>

<body id="home">

  <!-- webpage border -->
  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>
<!-- Setting up shapes for color palette,
     Also putting numbers insclasse of circles-->
  <div class="palette">
    <p class="paletteRectangle"></p>
    <div id="redCircle" class="glowingCircle"></div>
    <div id="orangeCircle" class="glowingCircle"></div>
    <div id="yellowCircle" class="glowingCircle"></div>
    <div id="greenCircle" class="glowingCircle"></div>
    <div id="blueCircle" class="glowingCircle"></div>
    <div id="purpleCircle" class="glowingCircle"></div>
    <div id="blackCircle" class="glowingCircle"></div>
    <div id="whiteCircle" class="glowingCircle"></div>
  </div>

<!-- Right panel tool box -->

  <div class="toolsRectangle">
    <p><a href="http://project-lal.appspot.com/">Home</a><br>
    Undo<br>
    Redo<br>
    Save<br>
    <a href="http://project-lal.appspot.com/freestyle-snowman">Reset</a>
  </div>


<div class="Border">
<p>&nbsp;</p>
<p>&nbsp;</p>

  <h1 id = "LeftArm" class="clickable"></h1>
  <h1 id = "RightArm" class="clickable"><h1>
  <h1 id = "circleBottom" class="clickable"></h1>
  <h1 id = "circleMiddle" class="clickable"></h1>
  <h1 id = "circleTop" class="clickable"></h1>
  <h1 id = "HatBottom" class="clickable"></h1>
  <h1 id = "HatTop" class="clickable"></h1>
  <h1 id = "HatMiddle" class="clickable"></h1>
  <h1 id = "ButtonTop" class="clickable"></h1>
  <h1 id = "ButtonMiddle" class="clickable"></h1>
  <h1 id = "ButtonBottom" class="clickable"></h1>
  <h1 id="EyesLeft" class="clickable"></h1>
  <h1 id="EyesRight" class="clickable"></h1>
  <h1 id="NoseOutline"></h1>
  <h1 id="Nose" class="clickableNose"></h1>
</div>

</body>
