<!DOCTYPE HTML>

<head>
  <link href="../static/templates.css" type="text/css" rel="stylesheet">
</head>

<!--House Template  -->
<body class = "Border">
  <p> &nbsp</p>
  <p>&nbsp </p>
  <p>&nbsp </p>
  <p>&nbsp </p>

  <h1 class = "Chimney"><h1>
  <h1 class = "Foundation"></h1>
  <h1 class = "RoofOutline"></h1>
  <h1 class = "Roof"></h1>
  <h1 class = "Window"></h1>
  <h1 class = "WindowCrossHor"></h1>
  <h1 class = "WindowCrossVer"></h1>
  <h1 class = "Door"></h1>
  <h1 class = "DoorKnob"></h1>
  <h1 class = "TreeStump"></h1>
  <h1 class = "TreeBottomOutline"></h1>
  <h1 class = "TreeBottom"></h1>
  <h1 class = "TreeMiddleOutline"></h1>
  <h1 class = "TreeMiddle"></h1>
  <h1 class = "TreeTopOutline"></h1>
  <h1 class = "TreeTop"></h1>
