<!DOCTYPE html>
  <html>
    <head>
      <script src="../static/menus.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/design.css"/>
      <title>Smart4Art</title>
    </head>
  <h1>Smart4Art</h1>
<body>
<!-- dropdown box 1 -->
  <div class="dropdown">
    <button style="margin-left:400%;" onclick="myFunction()" class="dropbtn">Subject:</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Math</a>
      <a href="#">History</a>
      <a href="#">Vocab</a>
    </div>
  </div>
<!-- dropdown box 2 -->
<div class="dropdown2">
  <button style="margin-left:1150%;"onclick="myFunction2()" class="dropbtn2">Subject:</button>
  <div id="myDropdown2" class="dropdown-content2">
    <a href="#">Math</a>
    <a href="#">History</a>
    <a href="#">Vocab</a>
  </div>
</div>
</body>
  </html>
