<!DOCTYPE html>
  <html>
    <head>
      <script src="../static/menus.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/design.css"/>
      <title>Smart4Art</title>
    </head>
    <div id="brush">
      <img src="../static/paintbrush.png" alt="paintbrush" style="width:100px;height:100px;">
    </div>
  <h1>
    <ul>
      <li><span>S</span></li
      ><li><span2>m<span2></li
      ><li><span3>a<span3></li
      ><li><span4>r<span4></li
      ><li><span5>t<span5></li
      ><li>4</li
      ><li><span6>A<span6></li
      ><li><span7>r<span7></li
      ><li><span8>t<span8>!</li>
    </ul>
  </h1>
<body id="home">
<!-- dropdown box 1 -->
  <div class="dropdown">
    <button style="margin-left:400%;"onclick="myFunction()" class="dropbtn">Subject:</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#"><a href="http://localhost:16080/math-snowman">Math</a></a>
      <a href="#">History</a>
      <a href="#">Vocab</a>
    </div>
  </div>
<!-- dropdown box 2 -->
<div class="dropdown2">
  <button style="margin-left:1150%;"onclick="myFunction2()" class="dropbtn2">Subject:</button>
  <div id="myDropdown2" class="dropdown-content2">
    <a href="#"><a href="http://localhost:16080/math-house">Math</a></a>
    <a href="#">History</a>
    <a href="#">Vocab</a>
  </div>
</div>
<div id="snowMan">
  <img src="../static/snowman.png" alt="Frosty the Snowman" style="width:300px;height:350px;">
</div>
<div id="theHouse">
  <img src="../static/house.png" alt="House" style="width:300px;height:350px;">
</div>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
</body>
  </html>
