<!DOCTYPE html>
  <html>
    <head>
      <script src="../static/menus.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/design.css"/>
      <title>Smart4Art</title>
    </head>
  <h1>Smart4Art</h1>
<body>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Subject:</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Math</a>
      <a href="#">History</a>
      <a href="#">Vocab?</a>
    </div>
  </div>

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Subject:</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">a</a>
      <a href="#">b</a>
      <a href="#">c</a>
    </div>
  </div>
</body>
  </html>
