
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
  <link rel="stylesheet" href="../static/palette.css">
  <link rel="stylesheet" href="../static/tools-tab.css">
  <link rel="stylesheet" href="../static/HouseTemplate.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="../static/MathPalette.js"></script>

  <link rel="icon" href="../static/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon"/>

  <title>Math4House</title>
</head>

<!-- webpage header -->
<div id="brush">
  <a href="http://project-lal.appspot.com/"><img src="../static/paintbrush.png" alt="paintbrush" style="width:80px;height:80px;"></a>
</div>
<a href="">
<h1>
  <ul>
    <li><span>S</span></li
    ><li><span2>m<span2></li
    ><li><span3>a<span3></li
    ><li><span4>r<span4></li
    ><li><span5>t<span5></li
    ><li>4</li
    ><li><span6>A<span6></li
    ><li><span7>r<span7></li
    ><li><span8>t<span8></li
    ><li><span9>!<span9></li>
  </ul>
</h1>
</a>
<!--section moves the text up a little for spacing purposes
 and center centers the text -->
<section class ="textBorder">
  <center><p class="subtitles">Welcome to Math mode! Match the<br>
    numbers with the equation to color the house!</p></center>
</section>

<body id="home">

  <!-- webpage border -->
  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>


<!-- Setting up shapes for color palette,
     Also putting numbers in classes of circles-->

<div class="paletteBorderRectangle"></div>

<div class="palette">
  <p class="paletteRectangle"></p>
  <div id="redCircle" class="glowingCircle">1</div>
  <div id="orangeCircle" class="glowingCircle">2</div>
  <div id="yellowCircle" class="glowingCircle">3</div>
  <div id="greenCircle" class="glowingCircle">4</div>
  <div id="blueCircle" class="glowingCircle">5</div>
  <div id="purpleCircle" class="glowingCircle">6</div>
  <div id="blackCircle" class="glowingCircle">7</div>
  <div id="whiteCircle" class="glowingCircle">8</div>
</div>

<!-- Right panel tool box -->

<div class="toolsRectangle">
  <p><a class="glowingText" href="http://project-lal.appspot.com/">Home</a><br>
    <a class="glowingText" id="Undo">Undo</a><br>
    <a class="glowingText" id="Redo">Redo</a><br>
    <a class="glowingText" href="http://project-lal.appspot.com/math-house">Reset</a>
  </p>
</div>

<div class="toolsBorderRectangle"></div>

<!--House Template  -->
<section class="textBorder">
  <div class = "Border">
    <p> &nbsp;</p>
    <p> &nbsp;</p>

    <h1 id = "Foundation">1+2</h1>
    <h1 id = "RoofOutline"></h1>
    <h1 id = "Roof">1+0</h1>
    <h1 id = "ChimneyOutline"></h1>
    <h1 id = "Chimney"><div class=rotateText>9-3</div></h1>
    <h1 id = "Window">6+2</h1>
    <h1 id = "WindowCrossHor">3-1</h1>
    <h1 id = "WindowCrossVer">
      <div class="multipleLines">
        1<br>
        +<br>
        1</div></h1>
    <h1 id = "Door">2+3</h1>
    <h1 id = "DoorKnob">4-2</h1>
    <h1 id = "TreeStump">2+0</h1>
    <h1 id = "TreeBottomOutline"></h1>
    <h1 id = "TreeBottom"><div class="dontWrap">8-4</div></h1>
    <h1 id = "TreeMiddleOutline"></h1>
    <h1 id = "TreeMiddle">3+1</h1>
    <h1 id = "TreeTopOutline"></h1>
    <h1 id = "TreeTop">2+2</h1>
  </div>


</div>
<audio loop autoplay>
  <source src="../static/random.mp3">
</audio>
</body>
