<html>

<head>
  <link rel="stylesheet" href="../static/palette.css">
  <link rel="stylesheet" href="../static/tools-tab.css">
  <link rel="stylesheet" href="../static/SnowmanTemplate.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="../static/palette.js"></script>
</head>

<body>

<!-- Setting up shapes for color palette,
     Also putting numbers insclasse of circles-->

  <div class="palette">
    <p class="paletteRectangle"></p>
    <div id="redCircle">1</div>
    <div id="orangeCircle">2</div>
    <div id="yellowCircle">3</div>
    <div id="greenCircle">4</div>
    <div id="blueCircle">5</div>
    <div id="purpleCircle">6</div>
    <div id="blackCircle">7</div>
    <div id="whiteCircle">8</div>
  </div>

<!-- Right panel tool box -->

  <div class="toolsRectangle">
    <p><a href="http://localhost:16080/">Home</a><br>
    Undo<br>
    Redo<br>
    Save<br>
    <a href="http://localhost:16080/math-snowman">Reset</a>
  </div>


<div class="Border">
  <p> &nbsp; </p>
  <p> &nbsp; </p>

  <h1 id = "LeftArm" class="clickable"></h1>
  <h1 id = "RightArm" class="clickable"><h1>
  <h1 id = "circleBottom" class="clickable"></h1>
  <h1 id = "circleMiddle" class="clickable"></h1>
  <h1 id = "circleTop" class="clickable"></h1>
  <h1 id = "HatBottom" class="clickable"></h1>
  <h1 id = "HatTop" class="clickable"></h1>
  <h1 id = "HatMiddle" class="clickable"></h1>
  <h1 id = "ButtonTop" class="clickable"></h1>
  <h1 id = "ButtonMiddle" class="clickable"></h1>
  <h1 id = "ButtonBottom" class="clickable"></h1>
  <h1 id="EyesLeft" class="clickable"></h1>
  <h1 id="EyesRight" class="clickable"></h1>
  <h1 id="NoseOutline"></h1>
  <h1 id="Nose" class="clickableNose"></h1>
  <p id="OnTop" class="clickable"></p>
</div>

</body>
