
<link rel="stylesheet" href="../static/palette.css">
<link rel="stylesheet" href="../static/palette.js"></script>
<link rel="stylesheet" href="../static/tools-tab.css">
<link rel="stylesheet" href="../SnowmanTemplate.css">

<body>

<!-- Setting up shapes for color palette,
     Also putting numbers inside of circles-->

<div class="palette">
  <p class="paletteRectangle"></p>
  <div class="redCircle">1</div>
  <div class="orangeCircle">2</div>
  <div class="yellowCircle">3</div>
  <div class="greenCircle">4</div>
  <div class="blueCircle">5</div>
  <div class="purpleCircle">6</div>
  <div class="blackCircle">7</div>
  <div class="whiteCircle">8</div>
</div>

<div class="toolsRectangle">
  <p><a href="http://localhost:16080/">Home</a><br>
  Undo<br>
  Redo<br>
  Save<br>
  Reset</p>
</div>

<!--SnowMan Template  -->

<div class="snowman">
  <h1 class = "circleTop" id="clickable"></h1>
  <h1 class = "HatBottom" id="clickable"></h1>
  <h1 class = "HatTop" id="clickable"></h1>
  <h1 class = "HatMiddle" id="clickable"></h1>
  <h1 class = "LeftArm" id="clickable"></h1>
  <h1 class = "RightArm" id="clickable"><h1>
  <h1 class = "circleMiddle" id="clickable"></h1>
  <h1 class = "circleBottom" id="clickable"></h1>
  <h1 class = "ButtonTop" id="clickable"></h1>
  <h1 class = "ButtonMiddle" id="clickable"></h1>
  <h1 class = "ButtonBottom" id="clickable"></h1>
  <h1 class = "EyesLeft" id="clickable"></h1>
  <h1 class = "EyesRight" id="clickable"></h1>
  <h1 class = "NoseOutline" id="clickable"></h1>
  <h1 class = "Nose" id="clickable"></h1>
  <p class = "OnTop" id="clickable"></p>
</div>

</body>
<!--End of SnowmanTemplate  -->
