<!DOCTYPE HTML>

<head>
  <link href="static/design.css" type="text/css" rel="stylesheet">
</head>

<!--SnowMan Template  -->
<body class = "Border">
  <p> &nbsp</p>
  <p>&nbsp </p>
  <p>&nbsp </p>
  <p>&nbsp </p>


  <h1 class = "circleTop"></h1>
  <h1 class = "HatBottom"></h1>
  <h1 class = "HatTop"></h1>
  <h1 class = "HatMiddle"></h1>
  <h1 class = "LeftArm" ></h1>
  <h1 class = "RightArm"><h1>
  <h1 class = "circleMiddle"></h1>
  <h1 class = "circleBottom"></h1>
  <h1 class = "ButtonTop"></h1>
  <h1 class = "ButtonMiddle"></h1>
  <h1 class = "ButtonBottom"></h1>
  <h1 class = "EyesLeft"></h1>
  <h1 class = "EyesRight"></h1>
  <h1 class = "NoseOutline"></h1>
  <h1 class = "Nose"></h1>
  <p class = "OnTop">1+1 </p>

</body>
<!--End of SnowmanTemplate  -->
