
<!DOCTYPE HTML>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <link rel="stylesheet" href="../static/palette.css">
  <link rel="stylesheet" href="../static/tools-tab.css">
  <link href="../static/templates.css" type="text/css" rel="stylesheet">

  <script src="../static/palette.js"></script>
  <link href="../static/SnowmanTemplate.css" type="text/css" rel="stylesheet">
</head>

<body>

<!-- Setting up shapes for color palette,
     Also putting numbers insclasse of circles-->

  <div class="palette">
    <p class="paletteRectangle"></p>
    <div class="redCircle">1</div>
    <div class="orangeCircle">2</div>
    <div class="yellowCircle">3</div>
    <div class="greenCircle">4</div>
    <div class="blueCircle">5</div>
    <div class="purpleCircle">6</div>
    <div class="blackCircle">7</div>
    <div class="whiteCircle">8</div>
  </div>

<!-- Right panel tool box -->

  <div class="toolsRectangle">
    <p><a href="http://localhost:16080/">Home</a><br>
    Undo<br>
    Redo<br>
    Save<br>
    Reset</p>
  </div>

<div class="snowman">
  <h1 id="circleTop" class="clickable"></h1>
  <h1 id="HatBottom" class="clickable"></h1>
  <h1 id="HatTop" class="clickable"></h1>
  <h1 id="HatMiddle" class="clickable"></h1>
  <h1 id="LeftArm" class="clickable"></h1>
  <h1 id="RightArm" class="clickable"></h1>
  <h1 id="circleMiddle" class="clickable"></h1>
  <h1 id="circleBottom" class="clickable"></h1>
  <h1 id="ButtonTop" class="clickable"></h1>
  <h1 id="ButtonMiddle" class="clickable"></h1>
  <h1 id="ButtonBottom" class="clickable"></h1>
  <h1 id="EyesLeft" class="clickable"></h1>
  <h1 id="EyesRight" class="clickable"></h1>
  <h1 id="NoseOutline" class="clickable"></h1>
  <h1 id="Nose" class="clickable"></h1>
  <p id="OnTop" class="clickable"></p>
</div>
