<!DOCTYPE HTML>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/SnowmanTemplate.css">
</head>

<body>

<!--SnowMan Template  -->

  <h1 class="circleTop"></h1>
  <h1 class="HatBottom"></h1>
  <h1 class="HatTop"></h1>
  <h1 class="HatMiddle"></h1>
  <h1 class="LeftArm"></h1>
  <h1 class="RightArm"></h1>
  <h1 class="circleMiddle"></h1>
  <h1 class="circleBottom"></h1>
  <h1 class="ButtonTop"></h1>
  <h1 class="ButtonMiddle"></h1>
  <h1 class="ButtonBottom"></h1>
  <h1 class="EyesLeft"></h1>
  <h1 class="EyesRight"></h1>
  <h1 class="NoseOutline"></h1>
  <h1 class="Nose"></h1>
  <p class="OnTop"></p>


</body>

</html>
<!--End of SnowmanTemplate  -->
